<div class="container" id="lnu-c4a">
    <div class="row">

        <!-- Login modal-->
        <div id="loginModal" class="modal fade">
            <div class="modal-dialog login-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Teacher Login</h4>

                    </div>

                    <div class="modal-body">
                        <div class="col no-pading">
                            <p>Please enter your email and password</p>
                            <form id="logFrm" method="post" class="login-form">

                                <div class="form-group">
                                    <label for="inputEmail">Email address</label>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email address...">
                                </div>

                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" id="inputPassword" placeholder="Password...">
                                </div>

                                <button type="button" class="btn btn-primary" onclick="userLogin();">Login</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Main content -->
        <div class="mainTitle well well-lg">
            <h2>Sharing Module</h2>
        </div>

        <div id="warning-message" class="hidden">
            <p class="alert alert-warning">
                You should <a href="#" class="alert-link" onclick="init();">login</a> as a teacher in order to use this
                module.</p>
        </div>

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs " role="tablist">
                <li role="presentation" class="active"><a href="#student-work"  class="sharing-tabs" aria-controls="student-work" role="tab" data-toggle="tab">Student Work</a></li>
                <li role="presentation" ><a href="#teacher-work" aria-controls="teacher-work" role="tab" data-toggle="tab">Teacher Work</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <!--Student Work Tab Content-->
                <div role="tabpanel" class="tab-pane active" id="student-work">

                    <!--TOOL BAR-->
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="" onclick="showAllWork();return false;">All works</a></li>
                        <li role="presentation"><a href="" onclick="showRemovalWork();return false;">Awaiting removal <span id="removalCount"></span></a></li>
                        <li role="presentation"><a href="" onclick="showApprovalWork();return false;">Awaiting approval <span id="approvalCount"></span> </a></li>

                    </ul>

                    <div id="dynamicContent">

                        <!--TABLE-->
                        <table id="studentWork" class="table table-bordered table-hover" style="width:100%">
                            <thead class="tableHeader">
                            <tr>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Project</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                        </table>

                    </div>


                </div>

                <!--Teacher Work Tab Content-->
                <div role="tabpanel" class="tab-pane" id="teacher-work">...</div>
            </div>

        </div>



    </div>
</div>