<html lang="en" class="h-100">
			<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
				<title>Select tools for pilotsite.</title>
				
				<script src="libraries/js/jquery-3.2.1.min.js"></script>
				<link rel="stylesheet" href="libraries/css/bootstrap.min.css">
				<script src="libraries/js/bootstrap.min.js"></script>
				<link rel="stylesheet" href="libraries/css/metro-all.css">
				<script src="libraries/js/metro.js"></script>
				
				<link rel="icon" type="image/png" href="images/eCraft2Learn-Favicon.png" />
				<script src="./pilottools.js"></script>
				<style>
					.gridview-content {
						max-width: 500px;
						margin: auto;
					}
					.row:nth-child(odd) {
						background: lightgrey;
					}
					.radio-btn {
						margin-top: 2px;
						float:right;
					}
					.select-input {
						position:absolute;
						margin-left: 0.5em;
					}
					.select, .grid {
						max-width: 500px;
					}
				</style>
			</head>
			<body class="gridview-content">
			</body>
		</html>
