<style>
  html {
    overflow-y: scroll;
  }

  .activity {
    margin: 10px;
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2);
    padding: 1em;
  }

  .activity:focus-within,
  .activity:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
  }

  th {
    text-align: center;
  }

  tr {
    cursor: pointer;
  }

  .row {
    margin-bottom: 20px;
  }
</style>

<div class="container-fluid">
  <div id="filters" class="row-fluid">
    <!--TODO-->
  </div>
  <h3 id='no-evaluation'>None of the students have evaluated themselves yet</h3>
  <div id="data" class="row-fluid container-fluid">

  </div>

  <script>

    $(document).ready(getGroupListForEvaluation(drawTables));

  </script>



</div>
