<blockquote>
	<p>Steps: 1: Select the threshold value that is being used by anomaly detection. 2: The outliers are marked in red in the table below</p>
	<footer>Anomaly detection will let you find outliers and novelties from the data set</footer>
</blockquote>
<div class='input-group'>
  <span class='input-group-addon'>Anomaly threshold</span>
  <input type='text' class='form-control' id='anomaly-threshold' placeholder='threshold' aria-describedby='basic-addon1' value='0.0000000029'>
</div>
<button class='btn' id='apply-anomaly'><span class='glyphicon glyphicon-align-center'></span>Apply</button>
<div id='anomaly-table'></div>