<blockquote>
	<p>Association rule mining will find the frequent data items that are found together in the data set</p>
	<p>Steps: 1: Select confidence and support 2: You can see the frequently together seen data items from the table below</p>
	<footer>Confidence: Confidence is an indication of how often the rule has been found to be true.
	<br> 
	Support: Support is an indication of how frequently the item set appears in the data set. 
	<br>
	LHS: (Left hand side) item or item set that is found in the data set.
	<br>
	RHS: (Right hand side) item or item set that is found together with LHS data item or data items
	<br>
	Iterations: How long will the apriori calculate relationships (quite low is often good)
	</footer>
</blockquote>
<div class='input-group'>
  <span class='input-group-addon'>Min confidence</span>
  <input type='text' class='form-control' id='apriori-min-confidence' placeholder='confidence' aria-describedby='basic-addon1' value='0.1'>
</div>
<div class='input-group'>
  <span class='input-group-addon'>Min support</span>
  <input type='text' class='form-control' id='apriori-min-support' placeholder='support' aria-describedby='basic-addon1' value='0.1'>
</div>
<div class='input-group'>
  <span class='input-group-addon'>Iterations</span>
  <input type='text' class='form-control' id='apriori-iterations' placeholder='iterations' aria-describedby='basic-addon1' value='5'>
</div>
<button class='btn' id='apriori-apply'><span class='glyphicon glyphicon-list'></span>Apply</button>
<div id='apriori-attributes'></div>
<div id='apriori-table'></div>
<div id='apriori-support-div'></div>