<hr>
<div class='row'>
<a class='btn btn-link non-electron' href='https://cs.uef.fi/~tapanit/ecraft2learn/api/pilot_2/files/la-walkthrough.pdf' target='_blank'>Download manual for LA</a>
<button id='refresh' class='btn btn-info'>
	<span class='glyphicon glyphicon-refresh' aria-hidden='true'></span>
	Refresh dataset from server
</button>
<button id='use-file' class='btn btn-info'>
	<span class='glyphicon glyphicon-level-up' aria-hidden='true'></span>
	Load dataset from file
</button>
<button id='create-session' class='btn btn-success non-electron'>
	<span class='glyphicon glyphicon-level-up' aria-hidden='true'></span>
	Create new session
</button>
<button id='train-decision-tree' class='shortcut-train btn btn-success non-electron'>
    <span class='glyphicon glyphicon-wrench' aria-hidden='true'></span>
    Generate predictive tree for real-time classification
</button>
<button style='visibility: hidden;' id='train-outlier' class='shortcut-train btn btn-success'>
    <span class='glyphicon glyphicon-wrench' aria-hidden='true'></span>
    Train anomaly detector
</button>
<button id='show-one' class='btn btn-info' disabled='true'>
	Show simplified view for classification
</button>
<button id='build-models' class='shortcut-train btn btn-success non-electron'>
	<span class='glyphicon glyphicon-wrench' aria-hidden='true'></span>
	Generate student profiles for UUI adaptation / Self-evaluation
</button>
<button id='reset-miners' class='btn btn-danger'>
        <span class='glyphicon glyphicon-hand-down' aria-hidden='true'></span>
        Reset all 
</button>
<button id='help-settings' class='shortcut-train btn btn-success'>
	<span class='glyphicon glyphicon-question-sign' aria-hidden='true'><span>
	Show help
</button>
</div>
<br>
<br>
<div class="form-group" id='train-set-div'>
    <label for="exampleInputFile">File input</label>
    <input type="file" id="train-set">
</div>
<div id='settings-div'>
<blockquote id='instructions'>
	<p>Steps: 1: Reduce time frame if needed. 2: Group dataset by feature. 3. Use either average or sum in groupping. Average counts the average number of actions taken by the student. Sum is the sum of all actions taken by a student</p>
</blockquote>
<div id='time-div'>
    <div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" placeholder='From time'>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" placeholder='Till time'>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
    <!--
	<input id='start-time' placeholder='start time filter'>
	<input id='end-time' placeholder='end time filter'>
    -->
</div>
<div class='well' id='group-by'></div>
<!--<div class='well' id='normalize'></div>-->
<div class='well' id='attributes'></div>
<div id='data-source-div' class='well'>
	<h4>Data source</h4>
	<br>
	<br>
	<div id='uui-wrap' class='active-source'>
		<img id='uui' class='data-source-img' src='images/uui.png'>
		<p id='uui-desc'>Students' actions in Unified User Interface</p>
	</div>
	<div id='brainstorm-wrap'>
		<img id='brainstorm' class='data-source-img' src='images/sketch.png'>
		<p id='brainstorm-desc'>eCraft Plan (sketching)</p>
	</div>
	<div id='print-wrap'>
		<img id='print' class='data-source-img' src='images/search.png'>
		<p id='print-dec'>eCraft Search (searching)</p>
	</div>
	<div id='programming-wrap'>
		<img id='snap' class='data-source-img' src='images/s4a.png'>
		<p id='programming-desc'>Snap4Arduino</p>
	</div>
	<div id='todo-wrap'>
		<img id='todo' class='data-source-img' src='images/todo.png'>
		<p id='todo-desc'>eCraft TODO (todo-list)</p>
	</div>
    	<br>
	<hr>
	<input type="text" class="form-control input-lg" placeholder="Search for users" id='user-search' />
</div>
    <div id='data-set-table'></div>
</div>
<div id='test'></div>
<script>

	if (window && window.process && window.process.type)
		$('.non-electron').remove();

	$('#user-search').on('change', (event) => {

		var value = $('#user-search').val();

		var input, filter, table, tr, td, i;
  
		filter = value.toUpperCase();

  		table = document.getElementById('attribute-table');
  		tr = table.getElementsByTagName('tr');

		var found = {};

		for (i = 0; i < tr.length; i++) {
    
			td = tr[i].getElementsByTagName('td');

			for (var j = 0; j < td.length; j++) {
    
				if (td[j]) {

      					if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
        
						tr[i].style.display = "";
						found[tr[i].innerHTML] = true;      

					} else {

						if (! found[tr[i].innerHTML])
        						tr[i].style.display = "none";
      
					}
    				}

			} 
  		}

	});

	$('#real-time-interval').hide();
	$('#real-time-interval-label').hide();

	window.sessionStorage.setItem('dataSource', analysisObjects.dataFetchUrls['uui']);
	window.sessionStorage.setItem('lastId', 0);

	$('#settings-div').hide();
	$('.shortcut-train').hide();
	$('#instructions').hide();
	
	$('#help-settings').on('click', function(event) {
	
		$('#instructions').toggle();
	
	});

	if (window && window.process && window.process.type) {
	
		$('#refresh').hide();
		$('#data-source-div').hide();

	}
	
	$('.data-source-img').on('click', function(event) {
	
		var element = event.target.parentNode;
		
		$('.data-source-img').each(function() {
    
    		$(this.parentNode).removeClass('active-source');

		});
		
		$(element).addClass('active-source');
		
		var value = event.target.id;
		
		window.sessionStorage.setItem('dataSource', analysisObjects.dataFetchUrls[value]);
        	window.sessionStorage.setItem('notifySource', analysisObjects.notifyUrls[value]);
         
        	resetMiners();
         
       		analysisObjects.miners.resetDatasets();
         
        	window.sessionStorage.setItem('lastId', 0);
         
        	$('#refresh').click();
	
	});

	var trigger = false;
    /*
     $('#data-source-select').on('change', function(event) {
       
        var value = $(this).val();
         
        window.sessionStorage.setItem('dataSource', analysisObjects.dataFetchUrls[value]);
        window.sessionStorage.setItem('notifySource', analysisObjects.notifyUrls[value]);
         
        resetMiners();
         
       	analysisObjects.miners.resetDatasets();
         
        window.sessionStorage.setItem('lastId', 0);
         
        $('#refresh').click();
        
    });
	*/
	$('#train-set').on('change', function(event) {
	
		parseTrainSet(event);
		
		$('.shortcut-train').show();
	
	});
	
	$('#refresh').on('click', function(event) {
	
		showLoader();
	
		var lastId = window.sessionStorage.getItem('lastId') ? parseInt(window.sessionStorage.getItem('lastId')) + 1: 0;

		var url = window.sessionStorage.getItem('dataSource');	
        
		var http = new HTTP(url, 'POST');
		
		var data = 'sessionId=' + window.sessionStorage.getItem('sessionId') +
			'&lastId=' + lastId;
		
		http.fetchDataSet(data, function(response) {
		
			var dataset = JSON.parse(response);
		
			if (dataset.length > 0)
				window.sessionStorage.setItem('lastId', dataset[dataset.length - 1]['id']);
			
			var temp = [];
		
			if (dataset.data)
				dataset = dataset.data;
	
			for (var i = 0; i < dataset.length; i++) {
			
				if (! dataset[i].data)
					var obj = dataset[i];
				else
					var obj = JSON.parse(dataset[i].data);
				
				if (dataset[i].timestamp)
					obj.timestamp = dataset[i].timestamp;
				
				temp.push(obj);
			
			}
			
			dataset = temp;
			
			if (dataset.length > 0) {
				
				fetchDataSet(dataset);
				
				initOptions(dataset);

				if (analysisObjects.miners.decisionTree) {

					var curDataset = analysisObjects.miners.curDataSet || analysisObjects.miners.groupDataSet || analysisObjects.miners.reducedTimeDataSet || analysisObjects.miners.dataSet;
	
					var data = [];
	
					for (var i = 0; i < curDataset.length; i++) {
	
						var obj = {};
		
						for (var key in curDataset[i]) {
		
							if (key === 'users' || ! (key in analysisObjects.miners.ignoredAttributes) && 
								key !== 'wellPerformed') {
				
								obj[key] = curDataset[i][key];
		
							}
		
						}
		
						data.push(obj);
	
					}
					
					var userList = [];
					
					for (var i = 0; i < data.length; i++) {
					
						var predict = analysisObjects.miners.decisionTree.decisionTree.predict(data[i]);
						
						$('#users').html('');

						var userObj = {};
						
						userObj['users'] = data[i]['users'];
						userObj['status'] = predict;
						
						userList.push(userObj);
						
					
					}
					
					generateUserList(userList);
					
					
				}

			
			} 
			
			$('.analysis-tools').show();
			$('#settings-div').fadeIn();
								
			$('.shortcut-train').show();	
			
			
			hideLoader();	

		
		}, function(error) {
		
			hideLoader();
		
		});
	
	});
	
	function realtimePrediction() {
	
		var lastId = window.sessionStorage.getItem('lastId') ? parseInt(window.sessionStorage.getItem('lastId')) + 1: 0;

		var url = window.sessionStorage.getItem('dataSource');	
        
		var http = new HTTP(url, 'POST');
		
		var data = 'sessionId=' + window.sessionStorage.getItem('sessionId') +
			'&lastId=' + lastId;
		
		http.fetchDataSet(data, function(response) {
		
			var dataset = JSON.parse(response);
			
			if (dataset.length > 0)
				window.sessionStorage.setItem('lastId', dataset[dataset.length - 1]['id']);
			
			var temp = [];
			
			for (var i = 0; i < dataset.length; i++) {
			
				var obj = JSON.parse(dataset[i].data);
				
				if (dataset[i].timestamp)
					obj.timestamp = dataset[i].timestamp;
				
				temp.push(obj);
			
			}
			
			dataset = temp;
			
			if (dataset.length > 0) {
				
				fetchDataSet(dataset);

				if (analysisObjects.miners.decisionTree) {

					var curDataset = analysisObjects.miners.curDataSet || analysisObjects.miners.groupDataSet || analysisObjects.miners.reducedTimeDataSet || analysisObjects.miners.dataSet;
	
					var data = [];
	
					for (var i = 0; i < curDataset.length; i++) {
	
						var obj = {};
		
						for (var key in curDataset[i]) {
		
							if (key === 'users' || ! (key in analysisObjects.miners.ignoredAttributes) && 
								key !== 'wellPerformed') {
				
								obj[key] = curDataset[i][key];
		
							}
		
						}
		
						data.push(obj);
	
					}
					
					var userList = [];
					
					for (var i = 0; i < data.length; i++) {
					
						var predict = analysisObjects.miners.decisionTree.decisionTree.predict(data[i]);
						
						$('#users').html('');

						var userObj = {};
						
						userObj['users'] = data[i]['users'];
						userObj['status'] = predict;
						
						userList.push(userObj);
						
					
					}
					
					generateUserList(userList);
					
					
				}

			
			} 
			
			$('.analysis-tools').show();
			$('#settings-div').fadeIn();
								
			$('.shortcut-train').show();	

		
		}, function(error) {
		
		});
	
	}
	
	$('#use-file').on('click', function(event) {
	
		if (! trigger) {
		
			$('<div></div>').dialog({close: function() { trigger = true; $('#train-set').val(''); $('#train-set').click(); }}).
				html('<p>Your file format has to be a JSON array and has to contain keys users and id</p>');
		
		} else {
	
			$('#train-set').val('');
			$('#train-set').click();
		
		}
	
	});
	
	$('#reset-miners').on('click', function(event) {
	
		resetMiners();
	
	});
	
	$('#train-decision-tree').on('click', function(event) {
	
		new DecisionTree();
		
		setMessage('Decision tree has been trained');
	
	});
	
	$('#train-outlier').on('click', function(event) {
	
		try {
	
			new Anomaly();
		
			setMessage('Anomaly detector has been trained');
	
		} catch (e) {
		
		}
	
	});
	
	$('#build-models').on('click', (event) => {
		
		if (! analysisObjects.miners.decisionTree)
			new DecisionTree();
		
		if (! analysisObjects.miners.anomaly) {
		
			try {
				
				new Anomaly();
				
			} catch (e) {
			
			}
			
		}
	
		buildStudentModels();
	
	});

	var automatic = null;
	
	$('#checkbox1').on('change', (event) => {	

		if (event.target.checked) {

			if (analysisObjects.miners.decisionTree && window.sessionStorage.getItem('groupped')) {
			
				$('#real-time-interval').show();
				$('#real-time-interval-label').show();
				
				var interval = parseFloat($('#real-time-interval').val()) * 10000;;

				automatic = setInterval(realtimePrediction, interval);
				
				$('#real-time-indicator').text('Real-time classification on');

			} else {

				alert('First, you have to train the classifier and group the dataset by \'users\'');
				event.target.checked = false;
				
				$('#real-time-interval').hide();
				$('#real-time-interval-label').hide();

			}

		} else {
		
			$('#real-time-indicator').text('Real-time classification off');

			clearInterval(automatic);
			automatic = null;
			
			$('#real-time-interval').hide();
			$('#real-time-interval-label').hide();

		}	

	});
	
	$('#real-time-interval').on('change', (event) => {
	
		var interval = parseFloat(event.target.value) * 10000;
		
		clearInterval(automatic);
		
		automatic = setInterval(realtimePrediction, interval);
	
	});

	$('#create-session').on('click', (event) => {

		$.ajax({

			type: 'GET',
			url: 'https://cs.uef.fi/~tapanit/ecraft2learn/api/pilot_2/create_session.php',
			success: (data) => {

				var str = '';

				str += '<div class=\'well\'><div class="input-group">';
    				str += '<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>';
    				str += '<input id="session-email" type="text" class="form-control" name="email" placeholder="Email">';
  				str += '</div>';
				str += '<button class=\'btn btn-info\' id=\'send-email\'>Send the session id to me</button></div>';

				$(str).dialog({

						width: 400,
						height: 300

					});

				$('#send-email').on('click', (event) => {

					var email = $('#session-email').val();

					$.ajax({

						type: 'POST',
						data: 'email=' + email + '&sessionId=' + data,
						url: 'https://cs.uef.fi/~tapanit/ecraft2learn/api/pilot_2/send_mail.php',
						success: (d) => {

							alert('Session id has been sent to your email');

							$('#session-id').val(data);
                                        
                                			$('#connect-button').click();

						},
						error: (error) => {


						}

					});

				});
	

			},
			error: (error) => {

				alert('Error while creating a session');

			}

		});

	});

	if (! window.localStorage.getItem('isNew')) {

		$('<div><p>If you are new here, please go through the \'manual for LA\' to get started.</p></div>').dialog();
	
		window.localStorage.setItem('isNew', true);

	}

	let simplifiedDialogs = {};

	simplifiedDialogs.closeDialogs = function() {

		for (let i = 0; i < simplifiedDialogs.dialogs.length; i++)
			$(simplifiedDialogs.dialogs[i]).dialog('destroy');

	};

	$('#show-one').on('click', (event) => {

		let dataset = analysisObjects.miners.curDataSet || analysisObjects.miners.groupDataSet || analysisObjects.miners.reducedTimeDataSet || analysisObjects.miners.dataSet;
		
		simplifiedDialogs.dialogs = [];

		for (let i = 0; i < dataset.length; i++) {
			
			let str = '<div>';
	
			str += '<h5>Simplified view to label students</h5>';
			
			str += '<table class=\'table\'>';

			str += '<thead>';
			str += '<tr>';

			for (let key in dataset[i])
				if (key !== 'anomaly' && key !== 'hiddenId' && key !== 'wellPerformed')
					str += '<th>' + key + '</th>';

			str += '<th>Predict</th>';
	
			str += '</tr>';
			str += '</thead>';

			str += '<tbody>';
			str += '<tr>';
	
			for (let key in dataset[i])
				if (key !== 'anomaly' && key !== 'hiddenId' && key !== 'wellPerformed' && key !== 'timestamp' && key !== 'notes')
					str += '<td>' + dataset[i][key]	+ '</td>';
				else if (key === 'timestamp')
					str += '<td>' + new Date(parseInt(dataset[i][key])).toString() + '</td>';
				else if (key === 'notes') {

					let value = dataset[i]['notes'];
     
                                	if (! value)
                                        	value = 0;

					str += '<td><input style=\'width: 30px;\' type=\'text\' value=\'' + value + '\' id=\'onenotes-' + dataset[i]['hiddenId'] + '\' class=\'notes\'></td>';			

				}

			str += '<td><select id=\'one-' + dataset[i]['hiddenId'] + '\' onchange=\'selectPerformance(this);\'><option value=\'-2\' selected=\'selected\'>Not included</option><option value=\'-1\'>Not performing well</option><option value=\'0\'>' +
                        	'Neutral</option><option value=\'1\'>Performing well</option></select></td>';

			str += '</tr>';

			str += '</tbody>';
			str += '</table>';

			str += '<button class=\'btn btn-warning\' onclick=\'simplifiedDialogs.closeDialogs()\'>Exit</button>';

			str += '</div>';
			
                        let $dialog = $(str).dialog({

				width: 1500,
                                height: 300

                        });

			simplifiedDialogs.dialogs.push($dialog);	

		}

		$('.notes').on('change', function(event) {

                	let value = event.target.value;

			if (isNaN(value)) {

				alert('Note value has to be a number!');
				return;

			}

                	let id = event.target.id.split('-')[1];

                	for (var i = 0; i < dataset.length; i++) 
                        	if (dataset[i].hiddenId === parseInt(id)) {
                                	dataset[i].notes = parseFloat(value);
                                	break;
                        	}    


        	}); 

	});

</script>
