<hr>
<div class='row'>
<button id='refresh' class='btn btn-info'>
	<span class='glyphicon glyphicon-refresh' aria-hidden='true'></span>
	Refresh data set from server
</button>
<button id='use-file' class='btn btn-info'>
	<span class='glyphicon glyphicon-level-up' aria-hidden='true'></span>
	Load data set from file
</button>
<button id='reset-miners' class='btn btn-danger'>
	<span class='glyphicon glyphicon-hand-down' aria-hidden='true'></span>
	Reset miners
</button>
<button id='train-decision-tree' class='shortcut-train btn btn-success'>
    <span class='glyphicon glyphicon-wrench' aria-hidden='true'></span>
    Train classifier
</button>
<button id='train-outlier' class='shortcut-train btn btn-success'>
    <span class='glyphicon glyphicon-wrench' aria-hidden='true'></span>
    Train anomaly detector
</button>
<button id='build-models' class='shortcut-train btn btn-success'>
	<span class='glyphicon glyphicon-wrench' aria-hidden='true'></span>
	Build student models
</button>
<button id='help-settings' class='shortcut-train btn btn-success'>
	<span class='glyphicon glyphicon-question-sign' aria-hidden='true'><span>
	Help
</button>
</div>
<br>
<br>
<div class="form-group" id='train-set-div'>
    <label for="exampleInputFile">File input</label>
    <input type="file" id="train-set">
</div>
<div id='settings-div'>
<blockquote id='instructions'>
	<p>Steps: 1: Reduce time frame if needed. 2: Group data sets by attribute. 3: Normalize vectors by attribute.</p>
	<footer>The time frame reducing has to be the first step.</footer>
</blockquote>
<div id='time-div'>
	<input id='start-time' placeholder='start time filter'>
	<input id='end-time' placeholder='end time filter'>
</div>
<div class='well' id='group-by'></div>
<!--<div class='well' id='normalize'></div>-->
<div class='well' id='attributes'></div>
<div id='data-source-div' class='well'>
	<h4>Data source</h4>
	<br>
	<br>
	<div id='uui-wrap'>
		<img id='uui' class='data-source-img' src='images/uui.png'>
		<p id='uui-desc'>Unified User Interface</p>
	</div>
	<div id='brainstorm-wrap'>
		<img id='brainstorm' class='data-source-img' src='images/brainstorming.jpg'>
		<p id='brainstorm-desc'>Sketching</p>
	</div>
	<div id='print-wrap'>
		<img id='print' class='data-source-img' src='images/printer.jpg'>
		<p id='print-dec'>Search for ideas</p>
	</div>
	<div id='programming-wrap'>
		<img id='snap' class='data-source-img' src='images/programming.jpg'>
		<p id='programming-desc'>Programming</p>
	</div>
</div><!--
	<label id='data-source-label'>
		Data source:
    	<select id='data-source-select'>
        	<option value='uui'>UUI</option>
        	<option value='snap'>Programming</option>
        	<option value='print'>3D printing</option>
        	<option value='brainstorm'>Brainstorming</option>
    	</select>
    </label>-->
    <div id='data-set-table'></div>
    <canvas id='charts-radar'></canvas>
	<canvas id='charts-line'></canvas>
</div>

<script>

	$('#settings-div').hide();
	$('.shortcut-train').hide();
	$('#instructions').hide();
	
	$('#help-settings').on('click', function(event) {
	
		$('#instructions').toggle();
	
	});

	if (window && window.process && window.process.type) {
	
		$('#refresh').hide();
		$('#data-source-div').hide();

	}
	
	$('.data-source-img').on('click', function(event) {
	
		//console.log(event.target.id);
		
		var value = event.target.id;
		
		window.sessionStorage.setItem('dataSource', analysisObjects.dataFetchUrls[value]);
        window.sessionStorage.setItem('notifySource', analysisObjects.notifyUrls[value]);
         
        resetMiners();
         
       	analysisObjects.miners.resetDatasets();
         
        window.sessionStorage.setItem('lastId', 0);
         
        $('#refresh').click();
	
	});

	var trigger = false;
    /*
     $('#data-source-select').on('change', function(event) {
       
        var value = $(this).val();
         
        window.sessionStorage.setItem('dataSource', analysisObjects.dataFetchUrls[value]);
        window.sessionStorage.setItem('notifySource', analysisObjects.notifyUrls[value]);
         
        resetMiners();
         
       	analysisObjects.miners.resetDatasets();
         
        window.sessionStorage.setItem('lastId', 0);
         
        $('#refresh').click();
        
    });
	*/
	$('#train-set').on('change', function(event) {
	
		parseTrainSet(event);
		
		$('.shortcut-train').show();
	
	});
	
	$('#refresh').on('click', function(event) {
	
		showLoader();
	
		var lastId = window.sessionStorage.getItem('lastId') ? parseInt(window.sessionStorage.getItem('lastId')) + 1: 0;

		var url = window.sessionStorage.getItem('dataSource');	
        
		var http = new HTTP(url, 'POST');
		
		var data = 'sessionId=' + window.sessionStorage.getItem('sessionId') +
			'&lastId=' + lastId;
		
		http.fetchDataSet(data, function(response) {
		
			var dataset = JSON.parse(response);
			
			if (dataset.length > 0)
				window.sessionStorage.setItem('lastId', dataset[dataset.length - 1]['id']);
			
			var temp = [];
			
			for (var i = 0; i < dataset.length; i++) {
			
				var obj = JSON.parse(dataset[i].data);
				
				if (dataset[i].timestamp)
					obj.timestamp = dataset[i].timestamp;
				
				temp.push(obj);
			
			}
			
			dataset = temp;
			
			if (dataset.length > 0) {
				
				fetchDataSet(dataset);
				
				initOptions(dataset);

			
			} else {
			
				alert('No data from the source is currently available. Try a different data source.');
			
			}
			
			$('.analysis-tools').show();
			$('#settings-div').fadeIn();
								
			$('.shortcut-train').show();	
			
			
			hideLoader();	

		
		}, function(error) {
		
			//console.log(error);
			
			hideLoader();
		
		});
	
	});
	
	$('#use-file').on('click', function(event) {
	
		if (! trigger) {
		
			$('<div></div>').dialog({close: function() { trigger = true; $('#train-set').val(''); $('#train-set').click(); }}).
				html('<p>Your file format has to be a JSON array and has to contain keys users and id</p>');
		
		} else {
	
			$('#train-set').val('');
			$('#train-set').click();
		
		}
	
	});
	
	$('#reset-miners').on('click', function(event) {
	
		resetMiners();
	
	});
	
	$('#train-decision-tree').on('click', function(event) {
	
		new DecisionTree();
		
		setMessage('Decision tree has been trained');
	
	});
	
	$('#train-outlier').on('click', function(event) {
	
		try {
	
			new Anomaly();
		
			setMessage('Anomaly detector has been trained');
	
		} catch (e) {
		
		}
	
	});
	
	$('#build-models').on('click', (event) => {
	
		// TODO NeuralNTree with training and default parameters
		// TODO Anomaly second iteration with avg th	
		if (! analysisObjects.miners.decisionTree)
			new DecisionTree();
		
		if (! analysisObjects.miners.anomaly) {
		
			try {
			
				new Anomaly();
				
			} catch (e) {
			
			}
			
		}
			
		if (! analysisObjects.miners.neuralNTree)
			new NeuralNTree();
	
		buildStudentModels();
	
	});

</script>
