<!--<div>
  <div class="form-group">
    <label for="exampleInputEmail1">Class id</label>
    <input type="email" class="form-control" id="class-id" placeholder="id">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="train-set">
  </div>
  <button class="btn btn-default">Connect</button>
</div>-->
<hr>
<div class='row'>
<button id='refresh' class='btn btn-info'>
	<span class='glyphicon glyphicon-refresh' aria-hidden='true'></span>
	Refresh data set from server
</button>
<button id='use-file' class='btn btn-info'>
	<span class='glyphicon glyphicon-level-up' aria-hidden='true'></span>
	Load data set from file
</button>
<button id='reset-miners' class='btn btn-danger'>
	<span class='glyphicon glyphicon-hand-down' aria-hidden='true'></span>
	Reset miners
</button>
</div>
<br>
<br>
<div class="form-group" id='train-set-div'>
    <label for="exampleInputFile">File input</label>
    <input type="file" id="train-set">
</div>
<div id='settings-div'>
<blockquote id='instructions'>
	<p>Steps: 1: Reduce time frame if needed. 2: Group data sets by attribute. 3: Normalize vectors by attribute.</p>
	<footer>The time frame reducing has to be the first step.</footer>
</blockquote>
<input id='start-time' placeholder='start time filter'>
<input id='end-time' placeholder='end time filter'>
<div class='well' id='group-by'></div>
<div class='well' id='normalize'></div>
<div class='well' id='attributes'></div>
<div id='data-set-table'></div>
</div>
<script>

	$('#settings-div').hide();

	if (window && window.process && window.process.type)
		$('#refresh').hide();

	var trigger = false;

	$('#train-set').on('change', function(event) {
	
		parseTrainSet(event);
	
	});
	
	$('#refresh').on('click', function(event) {
	
		var http = new HTTP('urlToDataSet', 'POST');
		
		var data = 'sessionId=' + window.sessionStorage.getItem('sessionId');
		
		http.fetchDataSet(data, function(response) {
		
			console.log(response);
		
		}, function(error) {
		
			console.log(error);
		
		});
	
	});
	
	$('#use-file').on('click', function(event) {
	
		if (! trigger) {
		
			$('<div></div>').dialog({close: function() { trigger = true; $('#train-set').val(''); $('#train-set').click(); }}).
				html('<p>Your file format has to be a JSON array and has to contain keys users and id</p>');
		
		} else {
	
			$('#train-set').val('');
			$('#train-set').click();
		
		}
	
	});
	
	$('#reset-miners').on('click', function(event) {
	
		resetMiners();
	
	});

</script>